.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
  &:hover {
    color: #1890ff; 
  }
}

.logo {
  height: 32px;
  background-color: rgba(255, 255, 255, .2);
  margin: 16px;
}

.user {
  float: right;
  margin-right: 15px;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px;
  .ant-breadcrumb {
    margin-bottom: 10px;
  }
  >.wrapper {
    flex: 1 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
}